<div class="container pt-7" id="contato">
  <div class="row">
    <div class="col-12">
      <div class="quadro-card">
        <div class="row">
          <div class="col-12">
            <h2 class="texto-claro mb-5">Entre em contato</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="texto-claro">
              ✨ Se interessou, né? Não seja tímido(a)! Aqui estão minhas redes sociais para você se conectar comigo.
              Vamos trocar ideias, falar sobre tecnologia ou até bater um papo sobre passarinhos e games! 🐦🎮 Vou adorar conversar com você! 💖
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
