.container-cards {
  display: flex;
  width: 100%;
  padding: 0;
}

.choice {
  height: 180px;
  overflow: hidden;
  transition: width 0.2s;
  margin: 1%;
}

.expand {
  width: 80%;
}

.unset {
  width: 40%;
  justify-content: center;
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
}

.small {
  width: 5%;
}

.small > div {
  opacity: 0;
}

.unset > div > p {
  opacity: 0;
}

.expand > div {
  transition-delay: 200ms;
  opacity: 1;
}

.quadro-card {
  display: flex;
  position: relative;
}

.skills-card {
  background-image: url('../../../assets/image/bg-skills.jpg');
}

.palestras-card {
  background-image: url('../../../assets/image/bg-palestras.jpg');
}

.skills-card, .curriculo-card, .palestras-card, .certificados-card {
  background-size: cover;
  background-position: center;
  height: 35rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); // Cor preta com 80% de opacidade
    z-index: 1;
  }

  h3, app-skills, app-curriculo, app-palestras, app-certificados {
    position: relative;
    z-index: 2;
  }
}
