.bg-progresso {
  background-color: #883918 !important;
}

.progress-bar {
  width: 0;
  height: 20px;
  margin-bottom: 10px;
  transition: width 2s ease;
}

.botao-curriculo {
  color: #fff;
  background-color: #883918;
  padding: 1rem;
  border-radius: 20px;
  width: 60%;
}
