<div class="container pt-7" id="experiencias">
  <div class="row mb-5">
    <div class="col-12 text-center">
      <h2 class="texto-claro">Skills</h2>
    </div>
  </div>
  <div class="row m-4">
    <div class="col-12 col-md-4">
      <p class="texto-claro">C#</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="90"></div>
      </div>
      <br />
      <p class="texto-claro">Angular</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="95"></div>
      </div>
      <br />
      <p class="texto-claro">React</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="70"></div>
      </div>
      <br />
      <p class="texto-claro">Python</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="68"></div>
      </div>
      <br />
      <p class="texto-claro">SQL<p>
        <div class="progress" role="progressbar" aria-valuemax="100">
          <div class="progress-bar bg-progresso" data-progress="78"></div>
        </div>
        <br />
    </div>

    <div class="col-12 col-md-4">
      <p class="texto-claro">{{ idioma == 'pt' ? 'Computação Forense' : 'Forensic Computing' }}</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="60"></div>
      </div>
      <br />
      <p class="texto-claro">Wireshark</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="50"></div>
      </div>
      <br />
      <p class="texto-claro">{{ idioma == 'pt' ? 'Resposta a Incidentes' : 'Incident Response' }}</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="58"></div>
      </div>
      <br />
      <p class="texto-claro">Linux</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="58"></div>
      </div>
      <br />
      <p class="texto-claro">Tcpdump</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="42"></div>
      </div>
      <br />
    </div>

    <div class="col-12 col-md-4">
      <p class="texto-claro">{{ idioma == 'pt' ? 'Liderança' : 'Leadership' }}</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="67"></div>
      </div>
      <br />
      <p class="texto-claro">{{ idioma == 'pt' ? 'Oratória' : 'Public Speaking' }}</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="80"></div>
      </div>
      <br />
      <p class="texto-claro">ISO 27001 / ISO 27002 / NIST</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="68"></div>
      </div>
      <br />
      <p class="texto-claro">Azure DevOps</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="80"></div>
      </div>
      <br />
      <p class="texto-claro">{{ idioma == 'pt' ? 'Pensamento Analítico' : 'Analytical Thinking' }}</p>
      <div class="progress" role="progressbar" aria-valuemax="100">
        <div class="progress-bar bg-progresso" data-progress="90"></div>
      </div>
      <br />
    </div>
  </div>

  <br />
  <br />

  <div class="row m-4">
    <div class="col-12 d-flex justify-content-center flex-wrap gap-3">
      <button class="btn botao-curriculo my-3" (click)="abrirCurriculo()">{{ idioma == 'pt' ? 'Baixe meu currículo' : 'Download my resume' }}</button>
      <!--<button class="btn botao-curriculo my-3">{{ idioma == 'pt' ? 'Baixe meu currículo tunado 😎' : 'Download my cooler resume 😎' }}</button>-->
    </div>
  </div>
</div>
