<div class="inicio" #inicio>
  <nav class="menu-site navbar navbar-expand-md fixed-top" #menu>
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link texto-claro" (click)="scrollToSection('inicio')">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link texto-claro" (click)="scrollToSection('sobre-mim')">Sobre Mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link texto-claro" (click)="scrollToSection('experiencias')">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link texto-claro" (click)="scrollToSection('contato')">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container" id="inicio">
    <div class="row padding-inicio">
      <div class="col-12 mt-5 texto-claro">
        <h1 class="texto-destaque-1">
          Olá!<br />
          Eu sou Savini,
        </h1>
        <om-typewriter class="texto-destaque-2" [words]="words" [writeSpeed]="30" [deleteDelay]="2500"></om-typewriter>
      </div>
    </div>
  </div>
</div>
