<nav class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link texto-claro" aria-current="page">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto-claro">Sobre Mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto-claro">Experiências</a>
        </li>
        <li class="nav-item">
          <a class="nav-link texto-claro">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-7 texto-claro">
      <h1>Olá!<br />
      Eu sou Savini,</h1>
      <h2>Desenvolvedora Web</h2>
      <h2>Engenheira de Software</h2>
      <h2>Entusiasta de Cibersegurança</h2>
      <h2>Palestrante</h2>
    </div>
  </div>
</div>
