<div class="container pt-7" id="sobre-mim">
  <div class="row mb-5">
    <div class="col-12 text-center">
      <h2 class="texto-claro">Sobre Mim</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 justify-content-center align-items-center d-flex">
      <div class="foto-redonda sobre-mim-1">
      </div>
    </div>
    <div class="col-12 col-md-8">
      <div class="quadro-card">
        <p>
          Olá, sou a Savini, tenho 24 anos e sou apaixonada por tecnologia e cibersegurança. Comecei minha jornada em 2015, com um curso técnico de Informática para Internet na Etec de Votorantim, e me formei em Análise e Desenvolvimento de Sistemas pela Fatec de Sorocaba em 2024. Atualmente, curso uma pós-graduação em Segurança da Informação na Universidade São Judas Tadeu.
        </p>
        <p>
          Minha carreira começou com um estágio em 2018, evoluindo para desenvolvedora fullstack com experiência em C#, Angular, React, Python e DevOps. Desde 2023, trabalho na G&P, desenvolvendo sistemas para prefeituras.
        </p>
        <p>
          Sou uma grande defensora da educação e da tecnologia acessível para todos, pois acredito que o conhecimento transforma vidas e abre portas para um futuro mais igualitário. Tenho um carinho especial por iniciativas que promovem o empoderamento feminino na tecnologia, ajudando mulheres a se conectarem, aprenderem e ocuparem seus espaços na área de TI.
          E amo fazer parte disso, sendo mentora nessas iniciativas e palestrando sobre cibersegurança em eventos e faculdades.
        </p>
        <p>
          Nos momentos livres, eu adoro criar ilustrações digitais, jogar videogames e apreciar passarinhos.
        </p>
      </div>
    </div>
  </div>
</div>
