<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="quadro-card">
        <h2>Sobre Mim</h2>
        <br />
        <p>Oii! ✨ Sou a Savini, tenho 24 anos e moro em São Paulo, mas meu coração está sempre no mundo da tecnologia
        (e dos passarinhos também 🐦). Minha jornada nessa área maravilhosa começou lá em 2015, quando, curiosa e cheia de energia,
        entrei no curso técnico de Informática para Internet na Etec de Votorantim. Foi amor à primeira lógica de programação! 💻
        Depois disso, dei o próximo passo e me formei em Análise e Desenvolvimento de Sistemas pela Fatec de Sorocaba em 2024.
        Agora, estou mergulhando ainda mais fundo com uma pós-graduação em Segurança da Informação na Universidade São Judas Tadeu.</p>
        <p>No mundo profissional, tudo começou com um estágio na Melhor Escola, lá em 2018, onde tive minhas primeiras aventuras com
        Laravel e Wordpress. Em 2020, parti para a Tecnologia Única como desenvolvedora fullstack, ganhando superpoderes em C#,
        Angular, React, Razor e Python, além de aprimorar meu lado DevOps. Desde 2023, faço parte da equipe da G&P, onde desenvolvo
        sistemas elegantes que ajudam prefeituras a se conectarem com suas comunidades.</p>
        <p>Mas não é só isso! Também sou embaixadora do Women Techmakers desde 2023 (yay!), uma iniciativa que me conecta com mulheres
        incríveis da área de tecnologia que me inspiram todos os dias.  Esse papel me motivou a compartilhar conhecimento por meio de palestras,
        geralmente sobre cibersegurança – um tema que me apaixona! Adoro compartilhar conhecimento, aprender coisas novas e, claro,
        praticar minha oratória (e meu lado comunicativo).</p>
        <p>Quando não estou codando ou palestrando, você pode me encontrar sendo artista criando ilustrações digitais, inventando protótipos de aplicativos,
        me divertindo nos videogames 🎮 ou admirando meus passarinhos favoritos – eles são puro charme! 🐤</p>
        <p>Seja muito bem-vindo(a) ao meu cantinho na internet! Espero que você se sinta à vontade por aqui e conheça um pouco mais sobre o meu mundo. 😊</p>
      </div>
    </div>
  </div>
</div>

