@font-face {
  font-family: 'Urbanist';
  src: url('Urbanist.ttf') format("truetype");
}

body {
  font-family: Urbanist !important;
  background-color: #0b090a !important;
}

h2{
    font-size: 40px !important;
}

.texto-claro {
  color: #f0dfe0 !important;
}

.texto-escuro {
  color: #331f25 !important;
}

.quadro-card {
  background-image: url('/bg-quadro.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.6); // Fundo escuro
  background-blend-mode: darken;
  z-index: 1;
  color: #f0dfe0;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #883918;
}

.grow {
  position: relative;
  transition: all 0.4s ease !important;
}

.grow:hover {
  transform: scale(1.1);
}

.pt-7 {
  padding-top: 7rem !important;
}
